{% extends 'base.html.twig' %}

{% block body %}
    <h2 class="page-header"><span class="text-white">Add reservation</span></h2>
    <div class="jumbotron">
    {{ form_start(form) }}
    {{ form_widget(form) }}
    {{ form_end(form) }}
    </div>
{% endblock %}