{% extends 'base.html.twig' %}

{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('assets/css/styles.css') }}">
{% endblock %}

{% block body %}
    <h2 class="text-white text-center" style="padding-bottom: 30px;">Welcome at Luxus Hotel</h2>
<div class="jumbotron carousel-wrapper">
    <div id="myCarousel" class="carousel slide" data-ride="carousel">
        <!-- Indicators -->
        <ol class="carousel-indicators">
            <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
            <li data-target="#myCarousel" data-slide-to="1"></li>
            <li data-target="#myCarousel" data-slide-to="2"></li>
        </ol>

        <!-- Wrapper for slides -->
        <div class="carousel-inner">
            <div class="item active">
                <img src="{{ asset('assets/images/hotel-1.jpg') }}" alt="Los Angeles">
            </div>

            <div class="item">
                <img src="{{ asset('assets/images/hotel-2.jpg') }}" alt="Chicago">
            </div>

            <div class="item">
                <img src="{{ asset('assets/images/hotel-3.jpg') }}" alt="New York">
            </div>
        </div>

        <!-- Left and right controls -->
        <a class="left carousel-control" href="#myCarousel" data-slide="prev">
            <span class="glyphicon glyphicon-chevron-left"></span>
            <span class="sr-only">Previous</span>
        </a>
        <a class="right carousel-control" href="#myCarousel" data-slide="next">
            <span class="glyphicon glyphicon-chevron-right"></span>
            <span class="sr-only">Next</span>
        </a>
    </div>
</div>
        <div id="lipsum" class=" text-white" style="opacity: 0.7">
            <p>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam suscipit mi eros, in ultricies leo mollis in. Donec efficitur urna in massa elementum rutrum. Donec lorem elit, dapibus ut porta eu, scelerisque non neque. In luctus, purus egestas interdum egestas, nisl erat ultricies lectus, sit amet tincidunt ipsum arcu quis magna. Vivamus eget dictum dui. Duis non bibendum mi. Maecenas non augue diam. Curabitur mi elit, eleifend sit amet imperdiet vel, hendrerit quis elit. Integer lacinia tempus dictum. Phasellus viverra pretium lorem, non fringilla augue dictum quis. Donec eros orci, cursus in dui sed, ullamcorper dapibus arcu. Fusce at neque eu lacus mattis commodo. Phasellus aliquam nibh sed neque tempor tempor. Nam velit est, consectetur nec felis et, lacinia pretium turpis. Vestibulum porta vitae nunc in sollicitudin. Nam scelerisque nibh quis leo euismod, ut vulputate mi lobortis.
            </p>
            <p>
                Sed consequat augue eros, eu fermentum felis lobortis eget. Proin tincidunt felis suscipit elementum rutrum. Nullam bibendum, augue sed ullamcorper pellentesque, tortor nunc pellentesque justo, in volutpat turpis neque a justo. Cras tortor justo, pellentesque in odio id, varius sollicitudin dolor. Nullam eu leo in velit laoreet vulputate. Nam ut egestas dolor. Fusce et leo eget orci dictum interdum rhoncus ut massa. Proin gravida sem quis nulla laoreet, vel lobortis purus pellentesque. Morbi blandit sem ut malesuada blandit. Proin sollicitudin, est et sagittis mollis, risus lectus consequat lacus, quis ultricies ligula urna ac est.
            </p>
            <p>
                Phasellus ultricies augue arcu, in tincidunt leo bibendum ut. Morbi egestas nisi sit amet sollicitudin bibendum. Duis tortor sem, dictum non justo ac, sagittis laoreet ipsum. Nunc in bibendum augue, ut consequat tortor. Sed purus mi, fermentum vel consequat tempor, maximus ac mauris. Nam rhoncus suscipit sagittis. Maecenas nec semper neque. Duis sodales elit diam, id porta leo ultricies sed. Nulla et nunc sit amet ligula iaculis vestibulum fermentum quis dolor. Maecenas luctus arcu sed molestie congue. Fusce eu porttitor nulla. Donec faucibus feugiat justo, quis sagittis odio sodales convallis.
            </p>
            <p>
                Maecenas consequat, arcu eget rutrum posuere, nunc magna efficitur dui, eu dapibus libero purus id turpis. Etiam dapibus libero at velit efficitur, ut suscipit arcu semper. Donec eu malesuada magna. Pellentesque interdum eu orci tristique cursus. Phasellus luctus sem ut ex fermentum, vitae sodales dolor faucibus. Etiam et arcu a diam suscipit aliquet sed at ante. Duis arcu nunc, fringilla vel finibus in, suscipit sit amet lectus. Etiam posuere lacus nisi, non ornare lectus ultrices quis. Nam condimentum leo eros, ut tristique magna auctor a. Aliquam scelerisque libero nec elit porta venenatis. Aliquam sed luctus orci. Praesent sollicitudin vitae ipsum id vestibulum. Quisque iaculis fermentum nisi, sed ornare metus tristique eget. Ut auctor ipsum leo, ac congue massa luctus a. Etiam sed malesuada nulla.
            </p>
            <p>
                Mauris massa lectus, tincidunt non euismod quis, pellentesque a nulla. Sed sed ex eget sem tempor posuere ac quis mi. Proin eget fermentum felis. Sed condimentum orci ex, sed ultricies elit vulputate nec. Suspendisse ut sem diam. Praesent auctor aliquet nunc quis rhoncus. Vivamus euismod nibh vel finibus finibus. Morbi accumsan mattis massa gravida venenatis. Duis ultricies tortor ut lacus dignissim ullamcorper.
            </p>
        </div>

{% endblock %}
