{% extends 'base.html.twig' %}

{% block body %}
<div class="contact-box-container text-center">
    <div class="row">
            <div class="mail-box white-border-box"><i class="fa fa-envelope-o text-white contact-icon"></i></div>
            <div class="address-box white-border-box"><i class="fa fa-home text-white contact-icon"></i></div>
    </div>
    <div class="row">
        <div class="telephone-box white-border-box"><i class="fa fa-phone text-white contact-icon"></i></div>
        <div class="social-media-box white-border-box text-center">
            <h3 class="text-white" style="padding-left:10%;padding-right:10%">You can also ask any question on our social media!</h3>
            <div class="social-media-row"><i class="facebook-icon fa fa-facebook text-white contact-icon"></i>
            <i class="instagram-icon fa fa-instagram text-white contact-icon"></i>
            <i class="snapchat-icon fa fa-snapchat text-white contact-icon"></i>
        </div>
    </div>
    </div>
</div>
{% endblock %}
